body{
    background-color: #e6ac4f;
    font-family: fantasy;
    color: #848484;
    

}
.container {
    width: 700px;
    padding: 20px 60px;
    background: #fff;
    margin: 0 auto;
} 

img{
    width: 700px;
    transition: 0.5s;
    border-radius: 5px;    
}

img:hover {
  width: 695px;
  border-radius: 5px;
}  

h2{
    color: #2f2a2c;
    font-size: 50px;
     text-align: center ;
    
}

p{
    color: #4e4e4e;
    font-size: 20px;
     text-align: center ;
    
}

.btm {
    font-size: 20px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #f5af19, #f12711, #f5af19);
	text-decoration: none;
	padding: 20px 70px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.btm:hover {
    background-position: right;
}
border-radius

ul{
    color: rgb(75, 90, 110);
    font-size: 44px;
}


